.float {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #ffc20e;
    color: teal;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

/* Versión móvil horizontal */
@media screen and (max-width: 767px) and (orientation: landscape) {
    .float {
		background-color: red !important; /* Prueba visual */
        bottom: 40vh !important;
        right: 50vw !important;
    }
}

/* Versión móvil vertical */
@media screen and (max-width: 767px) and (orientation: portrait) {
    .float {
        bottom: 10vh ;
        right: 4.1vw ;
    }
}

/* Versión tablet horizontal */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .float {
        bottom: 10vh !important;
        right: 5vw !important;
    }
}

/* Versión tablet vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .float {
        bottom: 7vh ;
        right: 8vw ;
    }
}

/* Versión desktop */
@media screen and (min-width: 1068px) {
    .float {
        bottom: 9vh ;
        right: 5.3vw ;
    }
}